body {
  background: linear-gradient(
    to right,
    rgba(106, 17, 203, 1),
    rgba(37, 117, 252, 1)
  );
}

.inner {
  /* border: 1px solid #000;
  border-radius: 25px; */
  max-width: 600px;
  background: white;
  border-radius: 20px;
}
